{{ form_start(form) }}
	<div class="col-12 bottommargin-sm">
		{{ form_row(form.traitement, {attr : {'placeholder': "Exemple: Traitement"}}) }}
	</div>
	<div class="col-12 bottommargin-sm">
		{{ form_row(form.date_traitement, {attr : {'placeholder': "Exemple: Image"}}) }}
	</div>
	<div class="col-12 bottommargin-sm">
		{{ form_row(form.bovin, {attr : {'placeholder': "Exemple: Image"}}) }}
	</div>
    <button class="btn btn-secondary btn-block btn-lg">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}