{% extends 'base.html.twig' %}

{% block title %}Traitement index{% endblock %}

{% block body %}
<div id="page-menu">

            <div id="page-menu-wrap">

                <div class="container clearfix">

                    <div class="menu-title"><span>Liste des traitements</span></div>                                       

                </div>

            </div>

        </div>
<section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="table-responsive">

    <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Traitement</th>
                <th>Date_traitement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for traitement in traitements %}
            <tr>
                <td>{{ traitement.traitement }}</td>
                <td>{{ traitement.dateTraitement ? traitement.dateTraitement|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('traitement_show', {'id': traitement.id}) }}">show</a>
                    <a href="{{ path('traitement_edit', {'id': traitement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

                </div>

            </div>

        </section>
    <a href="{{ path('traitement_new') }}">Create new</a>
{% endblock %}
