{% extends 'base.html.twig' %}

{% block title %}Bovin{% endblock %}

{% block body %}
    <h1>Bovin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bovin.id }}</td>
            </tr>
            <tr>
                <th>Numero_ordre</th>
                <td>{{ bovin.numeroOrdre }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ bovin.sexe }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ bovin.dateNaissance ? bovin.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bovin_index') }}">back to list</a>

    <a href="{{ path('bovin_edit', {'id': bovin.id}) }}">edit</a>

    {{ include('bovin/_delete_form.html.twig') }}
{% endblock %}
