{{ form_start(form) }}
	<div class="col-12 bottommargin-sm">
		{{ form_row(form.libelle, {attr : {'placeholder': "Exemple: Lait"}}) }}
	</div>
	<div class="col-12 bottommargin-sm">
		{{ form_row(form.prix, {attr : {'placeholder': "Exemple: 500"}}) }}
	</div>
	<div class="col-12 bottommargin-sm">
		{{ form_row(form.photo, {attr : {'placeholder': "Exemple: Image"}}) }}
	</div>
	<div class="col-12 bottommargin-sm">
		{{ form_row(form.categories, {attr : {'placeholder': "Exemple: Laitière"}}) }}
	</div>
    <button class="btn btn-secondary btn-block btn-lg">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
