{% extends 'navbar/_nav.html.twig' %}

{% block title %}Hello CommanderController!{% endblock %}

{% block body %}

<section class="ftco-section">
    	<div class="container"> 
        <div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="#" class="active">Tous vos produits</a></li>    					    					
    				</ul>
    			</div>
    		</div>   		
    		<div class="row">
    			{% for produit in produits %}
    			<div class="col-md-6 col-lg-3 ftco-animate">                
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid" width="270" height="50px" src="{{ asset('uploads/images/')}}{{ produit.photo }}" alt="Produit">
    						
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{ produit.libelle }}</a></h3>
							<h5><a href="#">{{ produit.categories.libelle }}</a></h5>
							{% if produit.categories.libelle == "laitière" %}
								<h8><a href="#">Quantité en stock {{ stocks[0].quantite }}L</a></h8>
							{% endif %}
							
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="price-sale">PU : {{ produit.prix }} FCFA</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="{{ path('cart_add',{'id':produit.id }) }}" id="test" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>	    							
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>	    			    		
             {% else %}
				Aucune donnée
        {% endfor %}
        </div>    		
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>                
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
$(document).ready({
	alert("fff");
	$('#test').click(function(){
		alert("bo");
	});
});
</script>
{% endblock %}