{% extends 'base.html.twig' %}

{% block title %}Production index{% endblock %}

{% block body %}
<div id="page-menu">

            <div id="page-menu-wrap">

                <div class="container clearfix">

                    <div class="menu-title"><span>Liste des productions</span></div> 
                    <nav>
                        <ul>
                            <li class="current"><a href="{{ path('production_new') }}"><div>Renseigner production</div></a></li>                            
                        </ul>
                    </nav>                                       

                </div>

            </div>

        </div>
<section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="table-responsive">

    <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>N° Vache</th>
                <th>Nbre mise bas</th>
                <th>Nbre veau</th>
                <th>Nbre vivant</th>
                <th>Nbre mort</th>
                <th>Taux production</th>
                <th>Taux mortalite</th>
                <th>Date production</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for production in productions %}
            <tr>
                <td>{{ production.bovin }}</td>
                <td>{{ production.nbreMiseBas }}</td>
                <td>{{ production.nbreVeau }}</td>
                <td>{{ production.nbreVivant }}</td>
                <td>{{ production.nbreMort }}</td>
                <td>{{ (production.nbreVivant*100/cpt)|round(2, 'floor') }}%</td>
                <td>{{ (production.nbreMort*100/cpt)|round(2, 'floor') }}%</td>
                <td>{{ production.dateProduction ? production.dateProduction|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('production_show', {'id': production.id}) }}"><i class="icon-line-eye"></i>&nbsp;</a>
                    <a class="btn btn-warning" href="{{ path('production_edit', {'id': production.id}) }}"><i class="icon-pencil"></i>&nbsp;</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

                </div>

            </div>

        </section>
{% endblock %}
