{% extends 'base.html.twig' %}

{% block title %}Reunion{% endblock %}

{% block body %}
    <h1>Reunion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reunion.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ reunion.sujet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ reunion.description }}</td>
            </tr>
            <tr>
                <th>Date_reunion</th>
                <td>{{ reunion.dateReunion ? reunion.dateReunion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reunion_index') }}">back to list</a>

    <a href="{{ path('reunion_edit', {'id': reunion.id}) }}">edit</a>

    {{ include('reunion/_delete_form.html.twig') }}
{% endblock %}
