{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}
<div id="page-menu">

            <div id="page-menu-wrap">

                <div class="container clearfix">

                    <div class="menu-title"><span>Liste des Factures</span></div>                                       

                </div>

            </div>

        </div>
<section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="table-responsive">

    <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>N° Commande</th>
                <th>N° Client</th>
                <th>Montant</th>
                <th>Date facture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.commande }}</td>
                <td>{{ facture.commande.clients.tel }}</td>
                <td>{{ facture.montant }}</td>                
                <td>{{ facture.dateFacture ? facture.dateFacture|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('facture_show', {'id': facture.id}) }}"><i class="icon-eye"></i>&nbsp;</a>
                    <a class="btn btn-warning" href="{{ path('facture_edit', {'id': facture.id}) }}"><i class="icon-pencil"></i>&nbsp;</a>
                    <a class="btn btn-warning" href="{{ path('facture_impression', {'id': facture.id}) }}"><i class="icon-print1"></i>&nbsp;</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

                </div>

            </div>

        </section>
    <a href="{{ path('facture_new') }}">Create new</a>
{% endblock %}
